.navigation {
    background-color: rgb(83, 169, 209);
    margin-bottom: 20px;
}
.menu {
    list-style: none;
    padding: 0;
}
.navigation-item, .name {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 15px 15px 15px 15px;
}
.navigation-item:hover {
    color: rgb(83, 169, 209);
    background-color: rgb(112, 112, 112);
}